@import "tailwindcss";
/* estilos base opcionales */
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-gray-50 text-gray-900;
}

/* definir colores personalizados */
@theme {
  --color-primary: #92ada4;
  --color-secondary: #ffdac6;
  --color-accent: #f2d6a1;
  --color-highlight: #ffde50;
}
